@page
@model MyDailyHabits.App.Pages.Streaks.IndexModel
@{
}

@section HabitSideBar {
    <partial name="Shared/_HabitSideBar" />
}

<a class="btn btn-info mt-3 mb-3" asp-page="/Streaks/AddStreaks">Add new Streak</a>

<table class="table table-light table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Habit</th>
            <th>Current Streak</th>
            <th>Longest Streak</th>
            <th>Last Completed Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var streak in Model.Streaks)
        {
            <tr>
                <td>@streak.Id</td>
                <td>@streak.Habit.Title</td>
                <td>@streak.CurrentStreak</td>
                <td>@streak.LongestStreak</td>
                <td>@streak.LastCompletedDate</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" asp-page="/Streaks/EditStreaks" asp-route-id="@streak.Id">Edit</a>
                        <a class="btn btn-danger" asp-page="/Streaks/DeleteStreaks" asp-route-id="@streak.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
